streamlit==1.29.0
openai==1.13.3
python-dotenv==1.0.0
langchain==0.0.352
tiktoken==0.5.2
pydantic-settings==2.1.0
anthropic==0.34.1
langchain-anthropic
chatgpt-ui @ git+https://github.com/john-mwangi/chatgpt-ui.git@main