streamlit==1.37.1
openai==1.54.5
python-dotenv==1.0.0
langchain==0.3.7
langchain-anthropic==0.3.0
langchain-community==0.3.7
langchain-core==0.3.19
langchain-openai==0.2.9
tiktoken==0.8.0
pydantic-settings==2.6.1
anthropic==0.39.0
langchain-anthropic==0.3.0
stop-words==2018.7.23
chatgpt-ui @ git+https://github.com/john-mwangi/chatgpt-ui.git@main